@page "/category"
@inject ICategoryRepository _categoryRepository
<link rel="stylesheet" href="css/categoryList.css" />

@if (isProcessing)
{
    <div class="CategoryList-Loading">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4 CategoryList-CARD">
        <div class="card-header bg-black bg-gradient ml-0 py-3 CategoryList-HEADER">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 CategoryList-HEADING">Category List</h2>
            </div>
        </div>
        <div class="card-body p-4 CategoryList-CARD-BODY">
            <div class="row pb-3">
                <div class="col-12 text-end CategoryList-BUTTON-Div">
                    <button class="btn btn-secondary btn-lg CategoryList-BUTTON" style="width:250px;">Add New Category</button>
                </div>
            </div>
            @if (Categories.Any())
            {
                <table class="table table-bordered table-striped CategoryList-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action Buttons</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Categories)
                        {
                            <tr>
                                <td>@obj.Name</td>
                                <td>Buttons</td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    private bool isProcessing { get; set; } = false;

    private IEnumerable<Category> Categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        isProcessing = true;
        await Task.Delay(2000);
        LoadCategories();
        isProcessing = false;
    }

    public void LoadCategories()
    {
        Categories = _categoryRepository.GetAll();
    }
}