@page "/category"
@inject ICategoryRepository _categoryRepository
@inject IJSRuntime _JS
<link rel="stylesheet" href="css/categoryList.css" />

<BsModal OnModalConfirmation="ConfirmDelete_Click"></BsModal>

@if (isProcessing)
{
    <div class="CategoryList-Loading">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4 CategoryList-CARD">
        <div class="card-header bg-black bg-gradient ml-0 py-3 CategoryList-HEADER">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 CategoryList-HEADING">Category List</h2>
            </div>
        </div>
        <div class="card-body p-4 CategoryList-CARD-BODY">
            <div class="row pb-3">
                <div class="col-12 text-end CategoryList-BUTTON-Div">
                    <a href="category/create" class="btn btn-secondary btn-lg CategoryList-BUTTON" style="width:250px;"><i class="bi bi-plus-square"></i> Add New Category</a>
                </div>
            </div>
            @if (Categories.Any())
            {
                <table class="table table-bordered table-striped CategoryList-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action Buttons</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Categories)
                        {
                            <tr>
                                <td>@obj.Name</td>
                                <td>
                                    <a href="@($"category/update/{obj.Id}")" class="btn btn-secondary"><i class="bi bi-pencil-square"></i> Edit</a>
                                    <a class="btn btn-danger" @onclick="() => HandleDelete(obj.Id)"><i class="bi bi-trash"></i> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    private bool isProcessing { get; set; } = true;
    private int DeleteCategoryID { get; set; } = 0;
    private IEnumerable<Category> Categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
        isProcessing = false;
    }

    private async Task LoadCategories()
    {
        Categories = await _categoryRepository.GetAllAsync();
    }

    private async Task HandleDelete(int id)
    {
        DeleteCategoryID = id;
        await _JS.InvokeVoidAsync("ShowConfirmationModal");
    }

    [JSInvokable]
    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        await _JS.InvokeVoidAsync("HideConfirmationModal");
        isProcessing = true;
        if (isConfirmed && DeleteCategoryID != 0)
        {
            var result = await _categoryRepository.DeleteAsync(DeleteCategoryID);
            if (result)
            {
                await _JS.InvokeVoidAsync("toastr.success", "Category deleted successfully.");
            }
            else
            {
                await _JS.InvokeVoidAsync("toastr.error", "Failed to delete category.");
            }
            await LoadCategories();
        }
        DeleteCategoryID = 0;
        isProcessing = false;
    }
}