@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">YumBlazor <i class="bi bi-cookie"></i></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house mb-4 me-2 fs-6 text-white" aria-hidden="true"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="category" Match="NavLinkMatch.All">
                <i class="bi bi-c-square mb-4 me-2 fs-6 text-white" aria-hidden="true"></i>
                Category
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="product" Match="NavLinkMatch.All">
                <i ></i>
                <i class="bi bi-boxes mb-4 me-2 fs-6 text-white" aria-hidden="true"></i>
                Product
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="Account/Manage">
                        <i class="bi bi-person-circle mb-4 me-2 fs-6 text-white" aria-hidden="true"></i> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <i class="bi bi-arrow-bar-left mb-4 me-2 fs-6 text-white" aria-hidden="true"></i> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="Account/Register">
                        <i class="bi bi-person-plus mb-4 me-2 fs-6 text-white" aria-hidden="true"></i> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="Account/Login">
                        <i class="bi bi-person-lock mb-4 me-2 fs-6 text-white" aria-hidden="true"></i> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

