@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow border-0 bg-dark bg-gradient text-white">
                <div class="card-header text-center bg-danger text-white">
                    <h1 class="my-3"><i class="bi bi-shield-lock-fill"></i> Access Denied</h1>
                </div>
                <div class="card-body text-center">
                    <p class="fs-5">You do not have access to this resource.</p>
                    <a href="/" class="btn btn-lg btn-secondary mt-4"><i class="bi bi-arrow-left"></i> Go Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
