@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow border-0 bg-dark bg-gradient text-white">
                <div class="card-header text-center bg-black bg-gradient text-white">
                    <h1 class="my-3"><i class="bi bi-lock"></i> Forgot Password Confirmation</h1>
                </div>
                <div class="card-body text-center">
                    <p class="mb-4">
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>