@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow border-0 bg-dark bg-gradient text-white">
                <div class="card-header text-center bg-danger text-white">
                    <h1 class="my-3"><i class="bi bi-x-circle"></i> Invalid Password Reset</h1>
                </div>
                <div class="card-body text-center">
                    <p class="mb-4">
                        The password reset link is invalid.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>