@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow border-0 bg-dark bg-gradient text-white">
                <div class="card-header text-center bg-warning text-dark">
                    <h3 class="my-3"><i class="bi bi-lock"></i> Locked Out</h3>
                </div>
                <div class="card-body text-center">
                    <p>This account has been locked out, please try again later.</p>
                </div>
            </div>
        </div>
    </div>
</div>