@page "/Account/ResetPasswordConfirmation"

<PageTitle>Reset password confirmation</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow border-0 bg-dark bg-gradient text-white">
                <div class="card-header bg-info text-center">
                    <h3 class="my-3">Reset Password Confirmation</h3>
                </div>
                <div class="card-body text-center">
                    <p class="lead">
                        Your password has been reset. Please <a href="Account/Login" class="btn btn-light btn-sm">click here to log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
