/* Base Styles */
.ProductUpsert-Loading {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}

/* Responsive Styles */
@media (max-width: 992px) { /* Tablets */
    .ProductUpsert-Loading {
        width: 85%;
        height: 85vh;
        margin: auto;
    }

    .ProductUpsert-CARD-BODY {
        padding: 2rem;
    }

    .ProductUpsert-HEADING {
        font-size: 1.75rem;
    }

    .ProductUpsert-BUTTON-Div {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
    }

    .ProductUpsert-Create-BTN,
    .ProductUpsert-Back-BTN {
        width: 100%;
    }
}

@media (max-width: 768px) { /* Mobiles */
    .ProductUpsert-Loading {
        height: 65vh;
        margin: auto;
    }

    .ProductUpsert-CARD-BODY {
        padding: 1rem;
    }

    .ProductUpsert-HEADING {
        font-size: 1.5rem;
    }

    .ProductUpsert-BUTTON-Div {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
    }

    .ProductUpsert-Create-BTN,
    .ProductUpsert-Back-BTN {
        width: 100%;
    }
}
